body{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}
header{
    flex: 250 1 auto;
    background-color: rgba(240, 255, 255, 0.507);
}
main{
    flex-grow: 4;
    flex-basis: 6em;
    background-color: rgba(240, 255, 255, 0.507);
}
aside{
    flex-grow: 2;
    flex-basis: 4em;
    background-color: rgba(240, 255, 255, 0.507);
}
footer{
    flex-grow: 1;
    flex-basis: 10em;
    background-color: rgba(240, 255, 255, 0.507);
}